# Required
AWS_REGION=us-west-2
RECRUITMENT_EVENTBRIDGE_BUS_NAME=recruitment-events-poc

# Optional (have defaults)
RECRUITMENT_EVENTBRIDGE_SOURCE=recruitment.lambdas.textract_completion
RECRUITMENT_LOG_LEVEL=INFO